{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": false,
      "dynamicImport": false
    },
    "target": "esnext",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": true
  },
  "module": {
    "type": "es6"
  }
}
